Django==5.1.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
django-cors-headers==4.6.0
django-filter==24.3
django-auditlog==3.0.0
django-simple-history==3.7.0
django-allauth==64.2.1
python-decouple==3.8
psycopg2-binary==2.9.10
whitenoise==6.8.2
waitress==3.0.2
pywebview==5.4.0
fpdf2==2.8.1
openpyxl==3.1.5
pyotp==2.9.0
qrcode==7.4.2
Pillow==11.0.0
python-bidi==0.6.0
arabic-reshaper==3.0.0
