Django>=6.0,<7.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
django-auditlog
django-simple-history
django-allauth
python-decouple
psycopg2-binary
whitenoise
waitress
pywebview
fpdf2
openpyxl
pyotp
qrcode
Pillow
python-bidi
arabic-reshaper
